body {
  background-image: url("/backgroundImages/Loginbackground.jpeg");
  font-family: "Handlee", cursive;
  
}

h1 {
  
  color: rgb(20, 20, 24);
  font-size: 42px;
}
.input {
  font-size: 18px;
  padding: 15px 15px;
  margin: 10px;
  border-radius: 30px;
  width: 40%;
  
}
.loginButton {
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  background-color: rgb(164, 203, 249);
  transition: all 250ms ease-in-out;
}
.loginButton:hover {
  background-color: rgb(36, 36, 247);
}
.link {
  font-weight: 900;
  font-size: 22px;
  color: rgb(228, 6, 6);
  
}
